/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --translucent-dark: #908d8b;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: #2a2626;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}

span {
  color: var(--main);
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("images/background.png");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.image {
  position: absolute;
  top: 55px;
  right: -270px;
}

ul {
  display: flex;
  gap: 30px;
  padding: 0;

  list-style: none;
}

li {
  width: 50%;
}

a {
  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;
  text-decoration: none;

  background-color: var(--main);
}

main > section {
  position: relative;

  text-align: center;

  background-color: var(--white);
}

iframe {
  position: relative;
  bottom: -100px;

  z-index: 2;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px 0;

  background-color: var(--translucent-dark);
}

.navigation p {
  font-weight: normal;
}

.navigation a {
  display: block;
  box-sizing: border-box;
  width: 350px;
  padding: 24px;

  text-align: left;

  background-color: transparent;
}

.number {
  padding-bottom: 40px;

  color: var(--main-dark);

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.title {
  margin: 0;

  font-size: 52px;
  font-family: Neucha, cursive;
}

.ikea-effect {
  padding: 100px 0;

  column-count: 2;
  column-gap: 30px;
}

.ikea-effect-title {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;

  column-span: all;

  background-color: var(--brown);
}

.ikea-effect-text {
  margin-top: 0;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.ikea-effect-subtitle {
  margin: 0;

  color: var(--translucent-dark);
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.column {
  text-align: left;
}

.ikea-effect-inscription {
  color: #2a2626;
  font-weight: 400;
  font-size: 60px;
  font-family: Neucha, sans-serif;
}

.ikea-effect-paragraph {
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
}
