/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --translucent-dark: #908d8b;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: #2a2626;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}

span {
  color: var(--main);
}

h1,
h2,
h3 {
  margin: 0;

  font-family: Neucha, cursive;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header,
section,
footer {
  position: relative;

  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  background-image: url("images/background.png");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

ul {
  display: flex;
  gap: 90px;
  padding: 0;

  list-style: none;
}

li {
  width: 50%;
}

.header-title {
  margin-bottom: 185px;
}

a {
  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;
  text-decoration: none;

  background-color: var(--main);
}

main > section {
  position: relative;

  text-align: center;

  background-color: var(--white);
}

iframe {
  position: relative;
  bottom: -100px;

  z-index: 2;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px 0;

  background-color: var(--translucent-dark);
}

.navigation p {
  font-weight: normal;
}

.navigation a {
  display: block;
  box-sizing: border-box;
  width: 350px;
  padding: 24px;

  text-align: left;

  background-color: transparent;
}

.number {
  padding-bottom: 40px;

  color: var(--main-dark);

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
}

.title {
  margin: 0;

  font-size: 52px;
  font-family: Neucha, cursive;
}

#ikea-effect,
#premature-optimization,
#distortion-of-novelty,
#hyperbolic-depreciation,
#errors-in-planning {
  padding: 100px 0;

  column-count: 2;
  column-gap: 30px;
}

.ikea-effects-title,
.premature-optimization-title,
.distortion-of-novelty-title,
.hyperbolic-depreciation-title,
.errors-in-planning-title {
  padding-left: 16px;

  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  column-span: all;

  background-color: var(--brown);
}

.ikea-effects-text,
.premature-optimization-text,
.distortion-of-novelty-text,
.hyperbolic-depreciation-text,
.errors-in-planning-text {
  margin-top: 0;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.ikea-effects-subtitle,
.premature-optimization-subtitle,
.distortion-of-novelty-subtitle,
.hyperbolic-depreciation-subtitle,
.errors-in-planning-subtitle {
  margin: 0;

  color: var(--translucent-dark);
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.column {
  text-align: left;
}

.ikea-effects-inscription,
.premature-optimization-inscription,
.distortion-of-novelty-inscription,
.hyperbolic-depreciation-inscription,
.errors-in-planning-inscription {
  color: #2a2626;
  font-weight: 400;
  font-size: 60px;
  font-family: Neucha, sans-serif;
}

.ikea-effects-paragraph,
.distortion-of-novelty-paragraph,
.hyperbolic-depreciation-paragraph,
.errors-in-planning-paragraph {
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
}

.premature-optimization-title,
.hyperbolic-depreciation-title {

  color: var(--brown);

  background-color: var(--white);
}

#premature-optimization,
#hyperbolic-depreciation {

  background-color: var(--brown);
}

footer {

  padding-top: 60px;

  font-size: 14px;
  text-align: center;
}

.button {
  position: relative;

  display: inline-block;

  width: 70px;
  height: 50px;

  background-color: var(--main);

  border: none;
}

.button::before {

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("images/send.svg");
  background-repeat: no-repeat;
  background-position: center center;

  content: "";
}

#email {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 55px;

  color: var(--white);

  background-color: var(--main-dark);
}

.footer-text {
  margin: 0;

  color: var(--white);
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
}

.link {
  padding: 0;

  color: var(--blue);
  font-weight: 400;

  background-color: transparent;
}

.email-link {
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
}

.footer-substring {
  margin: 0;

  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
}

.email {
  text-align: left;
}
